/* Resumen de precios y totales */

.carrito-summary {
  border-radius: 12px;
  padding: 12px;
  border: 1px solid rgba(226, 188, 131, 0.5);
  background: #1d2225;
  box-shadow: inset 0 0px 16px rgba(226, 188, 131, 0.116);
  display: flex;
  gap: 32px;
  align-items: center;
  color: rgb(214, 199, 159);
  height: 160px;
  width: 350px;
}
.price-breakdown {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  font-size: 0.95rem;
  color: rgba(214, 199, 159, 0.719);
}
.subtotal {
  font-weight: 500;
  font-size: 0.85rem;
}
.adjustment {
  color: rgb(214, 199, 159);
}
.price-row.adjustment.descuento span:last-child {
  color: #25d366;
  font-weight: 700;
}

.price-row.adjustment.recargo span:last-child {
  color: #d97706;
  font-weight: 700;
}

.total {
  color: rgb(214, 199, 159);
  font-size: 1.1rem;
  font-weight: 700;
}
