.catalogo-hero {
  position: relative;
  overflow: hidden;
  padding: clamp(100px, 120px, 150px) clamp(8px, 16px, 24px) clamp(20px, 24px, 30px);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  z-index: 0;
}

.catalogo-hero div {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  width: 100%;
  max-width: 1120px;
  align-items: center;
  height: 100px;
  z-index: 1;
  & > h2 {
    line-height: 1.5;
  }
}
.catalogo-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
.catalogo-search,
.catalogo-sort select {
  background: rgba(29, 34, 37, 0.7);
  border: 1px solid rgba(241, 226, 184, 0.096);
  border-radius: 8px;
  box-shadow: 0 12px 30px rgba(1, 33, 58, 0.06);
  display: flex;
  gap: 8px;
  height: 2.5rem;
  width: 220px;
  padding: 0 12px;
  &:focus-visible {
    outline: 0px;
  }
}
.catalogo-sort {
  height: 2.5rem;
}
.catalogo-search {
  padding: 8.5px 12px;
}
.catalogo-search:placeholder-shown {
  filter: brightness(0.9);
}
.catalogo-search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  cursor: pointer;
  background-color: #dadada; /* acá controlás el color */
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>')
    no-repeat center center;
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>')
    no-repeat center center;
}

.catalogo-sort select::after {
  content: '▼';
  position: absolute;
  right: 12px;
  pointer-events: none;
}
@media (min-width: 640px) {
  .catalogo-toolbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .catalogo-hero div {
    gap: 24px;
    padding-inline: 26px;
  }
}
